<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataGridView_Import_Excel.Properties.Settings.dmsreportConnectionString"
            connectionString="Data Source=VNCPC153;Initial Catalog=dmsreport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>